// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
  font-family: 16px;
  font-family: 'Montserrat', sans-serif;
  /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}