.wrapper1 {
  width: 100%;
  height: 100vh;
  background: url('/images/login.jpg') no-repeat center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
}

.wrapper1 form {
  width: 282px;
  height: 450px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
}

.wrapper1 input {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  text-shadow: 1px 1px 1px #4a4a4a;
  font-size: 18px;
  padding: 4px 5px;
  width: 270px;
  text-align: center;
  -webkit-box-shadow: 0 -1px 3px 0 #aaa;
  box-shadow: 0 -1px 3px 0 #aaa;
}

.wrapper1 input:first-child {margin-bottom: 20px;}

.wrapper1 #login-account:focus,
.wrapper1 #login-password:foucs 
{text-align: left;}


::-webkit-input-placeholder {
  color: #fff;
  text-shadow: 1px 1px 1px #4a4a4a;
}

:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  text-shadow: 1px 1px 1px #4a4a4a;
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;
  text-shadow: 1px 1px 1px #4a4a4a;
  text-align: center;
}

:-ms-input-placeholder {  
  color: #fff;
  text-shadow: 1px 1px 1px #4a4a4a; 
  text-align: center;
}

.tal {text-align: left!important;}

.wrapper1 .submit {
  width: 50px;
  line-height: 1;
  position: absolute;
  font-size: 14px;
  top: 100px;
  right: 0;
}

.wrapper1 .valid {
  background: #4a2b0f;
}

.wrapper1 .github {
  display: block;
  width: 70px;
  text-shadow: 1px 1px 1px #4a4a4a;
  position: absolute;
  font-size: 12px;
  top: 100px;
  left: 0;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  text-align: center;
  padding: 2px;
  -webkit-box-shadow: 0 -1px 3px 0 #aaa;
  box-shadow: 0 -1px 3px 0 #aaa;
  line-height: 18px;
}