  .social-media-login {
    li {
      display: block;
      width: 20%;
      margin-left: 4%;
      float: left;
      cursor: pointer;
      text-align: center;
      font-size: 3.5em;  
      margin-top: 50px;
      text-shadow: 1px 1px 4px #4a4a4a;
      color: #ffcc4d;
    }//li
    
//    .icon-facebook-2 {color: #3b5998;} //.icon-facebook-2
//    .icon-g-plus-3 {color: #dc4e41;}//.icon-twitter-1
//    .icon-twitter-1 {color: #55acee;} //.icon-g-plus-3
//    .icon-github-1 {color: #492778;} //.icon-github-1
  } //.social-media-login