  .social-media-login {
    li {
    display: block;
    width: 20%;
    margin-left: 4%;
    float: left;
    cursor: pointer;
    text-align: center;
    font-size: 2.75em;  
    margin-top: 20px;
    &:last-child {

    }
      
    } // li
    
    
    
    
  } //.social-media-login