  .social-media-login {
    ul {
      display: flex;
      display: -webkit-flex;
      flex-flow: row nowrap;
      justify-content: space-around;
    }
    
    
    li {
//      display: block;
//      width: 20%;
//      margin-left: 4%;
//      float: left;
//      cursor: pointer;
//      text-align: center;
//      font-size: 3.5em;  
//      margin-top: 50px;
//      text-shadow: 1px 1px 4px #4a4a4a;
//      color: #ffcc4d;
//      display: flex;
//      display: -webkit-flex;
      flex: 1 0 25%;
      -webkit-flex: 1 0 25%;
//      margin: auto;
      margin-top: 65px;
    }//li
    
    a {
      display: block;
      width: 56px;
      margin: 0 auto;
      font-size: 3.5em;
      text-align: center;
      color: #ffcc4d;
      text-shadow: 1px 1px 4px #4a4a4a;
      position: relative;
      z-index: 2;
    }
    
    
    .icon-facebook-2 {
      &:hover, &:active {
        transition: all .3s; 
        text-shadow: none;
        color: #3b5998;
      }
      i {
          position: absolute;
          background-color: transparent;
          display: block;
          width: 39px;
          height: 50px;
          top: 2px;
          left: 9px;
      }
      
      &:hover > i {
        background-color: #fff;
        transition: background-color .25s;
        z-index: -1;
      }
    } //.icon-facebook-2
    
    
    
    
    
    .icon-twitter-1 {
      &:hover, &:active {
        transition: color .4s; 
  //      text-shadow: none;
        color: #55acee;
      }
    }//.icon-twitter-1

    
    
    
    .icon-g-plus-3 {
      &:hover, &:active {
        transition: all .4s; 
        text-shadow: none;
        color: #dc4e41;
      }
      i {
          position: absolute;
          background-color: transparent;
          display: block;
          width: 50px;
          height: 50px;
          top: 4px;
          left: 4px;
        border-radius: 50%;
      }
      &:hover > i {
        background-color: #fff;
        transition: background-color .4s;
        z-index: -1;
      }  
    }//.icon-g-plus-3


    .icon-github-1 {
      &:hover, &:active {
      transition: color .4s; 
      text-shadow: none;
      color: #000;
//      color: lighten(#492778, 25%)
      }
        
      i {
          position: absolute;
          background-color: transparent;
          display: block;
          width: 55px;
          height: 55px;
          top: 1px;
          left: 0;
          border-radius: 50%;
        }  
      
      &:hover > i {
        background-color: #fff;
        transition: background-color .5s;
        z-index: -1;
      } 
    } //.icon-github-1

  } //.social-media-login



