header {
	background-color: #4a2b0f;
	line-height: 42px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 5;
	> .fcc-panel {
		max-width: 1024px;
  		margin: 0 auto;
  		position: relative;
	}
}

.fcc-panel > .fcc-logo {
  float: left;
  padding-bottom: 4px;
  > a {
  	color: #DDC9A1;
  	font-size: 20px;
  }
  img {
  	width: 269px;
  	vertical-align: -12px;
  	margin-left: 5px;
  }
}

@media (max-width: 768px) {
  .fcc-panel > .fcc-logo > a{font-size: 16px;}
  .fcc-panel > .material-icons {margin-right: 3%;}
}

@media (max-width: 650px) {.fcc-panel > .fcc-username {display: none;}}

@media (max-width: 399px) {
  .fcc-panel > .fcc-logo img {width: 200px;}
  .fcc-panel > .fcc-logo > a{font-size: 12px;}
}