<aside class="chat-panel">
  <h3 class="off">online-member-list</h3>
  <a href="" alt="chat list" class="chat-list">
    <h4 class="online-member">Mado</h4>
    <img src="_0mado.jpg" alt="member picture">
  </a>
  <a href="" alt="chat list" class="chat-list">
    <h4 class="online-member">Mado</h4>
    <img src="_0mado.jpg" alt="member picture">
  </a>
  <a href="" alt="chat list" class="chat-list">
    <h4 class="online-member">Mado</h4>
    <img src="_0mado.jpg" alt="member picture">
  </a>
  <button class="closed-btn" role="close the chat panel">close</button>
</aside>  <!--[End] .chat-panel-->
