<form action="" class="input-login-form">

  <label for="email-login">
    <input type="email" placeholder="e-mail" name="email" id="email-login">
    <i class="icon-mail-3"></i>
  </label>

  <label for="password-login" style="margin-top:10px;">
    <input type="password" placeholder="password" name="password" id="password-login">
    <i class="icon-password-2"></i>
    <i class="icon-eye-closed-1 off"></i>
  </label>

  <label for="submit-login" style="margin-top:15px;">
    <input type="submit" name="submit" id="submit-login" value="sign in">
<!--          <i class="icon-login-1"></i>-->
  </label>

  <a href="" class="forgot-pwd" alt="forgot password?">Forgot password?</a>

  <div  class="signup">
    Need an account?
    <a href="" alt="sign up your account">sign up</a>  
  </div>

</form> <!--[End].login-form-->